nav{
    background:var(--bg-white);
    position: fixed !important;
    min-height: 3rem !important;
    min-width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-top: 3px solid var(--bg-main);
    
}

.wrapper{
    max-width: 80%;
   
}
ul li.nav-item{
    min-width: 6em;
    padding: .2em;

  text-align: center;
    margin-right: 1.2rem;
    border-radius: 7px;
background: rgba(217, 217, 217, 0.30);

text-align: center;

}
ul li.nav-item a{
    color: #FFB800 !important;
}
.btn.log-in{
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(255, 184, 0, 0.10) 0%, rgba(255, 184, 0, 0.10) 100%), #D9D9D9;

}
.btn.signup{
    border-radius: 6px;
    background: linear-gradient(0deg, #FFB800 0%, #FFB800 100%), #D9D9D9;
}
form.search input{
border-radius: 16px;
background: #D9D9D9;

}
form.search input:focus,form.search input:active{
outline: none !important;
border: none !important;
}
ul li.nav-item:hover{
    background: #FFB800;
    color: white!important;
}

ul li.nav-item:hover a{

color: white !important;
}