
@import url("../proj-styles/navbar.css");
@import url("../proj-styles/right-container.css");
@import url("../proj-styles/left-container.css");
@import url("../proj-styles/main-container.css");


:root{
    --bg-main:rgb(255, 184, 0);
    --bg-gray:#D9D9D9;
    --bg-success:#4CEA24;
    --bg-light:rgb(255, 184, 0,.3);
    --bg-white:#fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}


.container#main{
    max-width: 1264px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}




/* U CAN LEAVE THE MEDIA QUERIES FOR NOW OR WORK ON THEM ON YOUR SIDE */

@media (min-width: 768px){
.col-md-8.card {
     flex: 0 0 auto;
    width: 100%;

}

}

@media (max-width: 1200px) {
   .middle_div{
    padding: 0;
   }

   .left_div{
    min-width: max-content;
   }


    /* Apply this style when the screen width is 992px or less */
    .middle-right-container {
        flex-direction: column; /* Stack columns vertically */
        
    }
   .row.middle-right-container{
    align-items: start;
    
   } 
   .middle_div{
    min-width: 100%!important;

   }
   .right-container{
    min-width:100%!important;
   }

  

    .middle-right-container .card .card-body
    {
        display: flex;
        flex-direction: column;
    }


}
