/* Styles for the Post Page */
@import url("new_design.css");
/* @import url("gallery.css"); */
@import url("gallery_2.css");
@import url("popup.css");

/* @import url("../../new-design/style.css"); */

/* -------------------CODE FOR POST-------------------------- */
.feed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: white;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
  }
  
  .profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile-text {
    display: flex;
    flex-direction: column;

    font-family: var(--poppins);

  }
  
  .profile-name {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
  }
  
  .profile-date {
    font-size: 14px;
    margin: 0;
    font-family: var(--poppins);

  }
  
  .feed-title {
    font-family: var(--poppins);
    font-weight: bold;
    font-size: 2.5ch;
    text-align: left;
    margin-bottom: 20px;
  }
  
  
  .text-container {
    font-family: var(--plus-jakarta);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .reaction-container {
    font-family: var(--plus-jakarta);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .reaction-text {
    font-family: var(--plus-jakarta);
    font-weight: bold;
    margin: 0;
  }
  
  .reaction-tags {
    display: flex;
    font-weight: bold;
  }
  
  .reaction-tag {
    margin-right: 10px;
    color: var(--rich-black-800);
    font-family: var(--poppins);
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  .description-title {
    font-family: var(--poppins);
    font-weight: bold;
    font-size: 18px;
    /* margin-bottom: 10px; */
  }
  
  /* .description-text {
    margin: 0;
    font-family: var(--plus-jakarta);

  } */
  
  .answer-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: var(--poppins);

  }
  
  .card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .card-user {
    display: flex;
    width: auto;
    background-size: contain;
  }
  .card-user img {
    width: 50px;
    height: 50px;
  }
  .card-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .card-text {
    display: flex;
    flex-direction: column;
    font-family: var(--plus-jakarta);

  }
  
  .card-name {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    font-family: var(--poppins);

  }
  
  .card-date {
    font-size: 14px;
    margin: 0;
    font-family: var(--poppins);

  }
  
  .card-description,.description-text{
    margin: 0;
    font-weight: 400;
    color: rgba(14, 19, 31, 0.85);
    font-family: var(--plus-jakarta);
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5rem;
  }
  
/* Your CSS code goes here */
.message-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.message-input {   
  font-size: 18px;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  height: 180px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  resize: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-color: rgba(100, 175, 245, 0.281);
}

.message-input:focus {
  box-shadow: 0 0 0 2px rgba(64, 64, 85, 0.342);
}

.message-input::placeholder {
  opacity: 0.5;
  font-family: var(--plus-jakarta);
}

.button__gap {
  display: flex;
  justify-content: space-between;
}

.message-button {
  background-color: var(--blue);
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.6rem 1.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 17.5px;
  font-weight: bold;
  width: fit-content;
}

@media screen and (max-width: 600px) {
  .message-button {
    font-size: 14px;
    padding: 0.4rem 0.9rem;
  }
}

@media screen and (max-width: 400px) {
  .message-button {
    font-size: 12px;
    padding: 0.3rem 0.7rem;
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.message-button:hover {
  background-color: var(--blue-100);
  color: var(--blue);
  animation: zoom-out 2s ease infinite;
}

.add-image {
  background-color: transparent;
  border: 1px solid var(--blue);
  color: var(--rich-black-750);
}

.hashtag-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.hashtag-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hashtag-list li {
  display: inline-block;
  margin-right: 5px;
  background-color: var(--blue);
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
}

.hashtag-input {
  font-size: 18px;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-color: rgba(100, 175, 245, 0.281);
}

.hashtag-input:focus {
  box-shadow: 0 0 0 2px rgba(64, 64, 85, 0.342);
}

.hashtag-input::placeholder {
  opacity: 0.5;
  font-family: var(--plus-jakarta);
}

/* body::-webkit-scrollbar {
  width: 0px;
} */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}