.footer * {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: hsl(210, 8%, 15%);
    font-family: Poppins, sans-serif;
    color: white;
}

.footer-container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 100%;
    padding: 26px 12px;
}

.logo {
    flex: 0 0 64px;
}

.footer-nav {
    display: flex;
    flex: 2 1 auto;
    flex-wrap: wrap;
}

.footer-nav-element {
    flex: 1 0 auto;
}

.footer-nav-element h5 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: hsl(210, 8%, 75%);
}

.footer-nav-element ul li {
    padding-bottom: 8px;
}


.copyright {
    display: flex;
    flex-direction: column;
    flex: 1 1 150px;
}

.copyright ul {
    display: flex;
    list-style: none;
}

.copyright ul li {
    padding-right: 10px;
    font-size: 15px;
}

.copyright p {
    margin-top: auto;
    color: hsl(210, 8%, 52%);
}

.footer-nav-element ul li a, .copyright ul li a {
    color: hsl(210, 8%, 52%);
    text-decoration: none;
    transition: all .3s;
}

.footer-nav-element ul li a:hover, .copyright ul li a:hover {
    color: hsl(210, 8%, 65%);
}
